/* Atur jarak sidenavbar dari content */
header, main, footer {padding-right: 380px;}
@media only screen and (max-width : 992px){
    header, main, footer {padding-right: 0;}
    ul#slide-out{width: 300px !important;}
}

/*==========
KERANGAN
============*/
@media only screen and ( min-width: 1200px){
    .container-material {width: 80%;padding-left: 5%;}
    .card.maskot {margin-top: 2rem;}
}
/*Carding*/
.card.maskot {background-color: #0F75BD;color: #EEE;padding: 0;border-radius: .3rem;height: 100%;
      box-shadow: 0 2px 17px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Col Kanan Kiri*/
.gambarW1 {widows: 100%;text-align: center;padding: 10px 0px;height: 200px;}
.gambarW1 img{width: 9rem;margin: auto;cursor: help;}
.sambutanW1 {margin-top: 3.3rem;}
.sambutanW1 span.selamatDatang {font-size: 3.4vh;text-transform: uppercase;font-family: 'Blogger3';}
.sambutanW1 span.birutekno {font-size: 7.3vh;text-transform: lowercase;font-family: 'Blogger1';}
/*Responsive*/
@media only screen and ( max-width: 992px){
    .sambutanW1 {margin-top: 0rem !important;text-align: center;}
    .gambarW1{height: 150px;}
    .gambarW1 img{width: 6rem;}
}
@media only screen and (min-width: 993px) and (max-width: 1199px){
    .sambutanW1 {margin-top: 2rem !important;text-align: left;}
    .gambarW1{height: 130px;}
    .gambarW1 img{width: 6rem;}
    .sambutanW1 span.selamatDatang {font-size: 17px;}
    .sambutanW1 span.birutekno {font-size: 30px;}
}
/*============
CHECK IN LOOPING
==============*/
/*Last Login*/
.judulW1 {width: 100%;font-size: 1.2rem;font-style: italic;font-family: Sans2;}
/*Responsive*/
@media only screen and ( max-width: 992px){
    .judulW1 {margin-top: 0rem;text-align: center;}
}
.wadahSection {
    overflow: hidden;
    max-height: 55vh !important;
    margin-left: -10px;width: 103%;
}
.wadahSection:hover{overflow-x: auto;overflow-y: visible;}
/*STYLE SCROLLBAR*/
.wadahSection::-webkit-scrollbar{width:8px;background:#eee;border: 1px solid #ddd;}
.wadahSection::-webkit-scrollbar-thumb{
	background-color: #0F75BD;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

/*Kerangka Section*/
.wadahSection section{
    transition: box-shadow .25s;
    padding: 15px;
    margin: 0.5rem 0px 1rem 10px;
    border-radius: 2px;
    background-color: #fff;
    
    border-color: #a1a1a1;
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.075), 0px 2px 4px rgba(161, 161, 161, .6);
    display: table;width: 98%;
}

Ag{width: 20%;display: table-cell;text-align: center;vertical-align: middle;}
Ag img{width: 70px;height: 70px;border-radius: 50%;}

As{width: 60%;display: table-cell;padding-top: 5px;}As nick,As job {display: block;color: #151515;}
As nick {font-size: 1.5rem;font-family: 'Sans4';font-weight:500;}
As nick::first-letter{text-transform: uppercase;}
As job {font-size: 1rem;font-style: italic;}

At{width: 20%;display: table-cell;}At ch,At tm {display: block;color: #0F75BD;}
At ch{font-size: 1.5rem;font-family: 'Sans4';font-weight:500;}
At tm {font-size: 1.2rem;font-family: 'Sans4';}

/*Responsive*/
@media only screen and (min-width: 993px) and (max-width: 1199px){
    .wadahSection {
        max-height: 60vh !important;
        margin-left: -10px;width: 103%;
    }
    .wadahSection section{
        margin: 0.5rem 0px 1rem 5px;
    }
    Ag img{width: 65px;height: 65px;}
    As nick {font-size: 1.3rem;}
    As job {font-size: .9rem;}
    At ch{font-size: 1.3rem;font-family: 'Sans4';font-weight:500;}
    At tm {font-size: .9rem;font-family: 'Sans4';}
}
@media (min-width: 992px) and (max-width: 1199px){
   
}
@media (min-width: 768px) and (max-width: 991px) {
    .wadahSection {
        overflow: auto;
        max-height: 100% !important;
        margin-left: 0px;width: 100%;
    }
}
@media (max-width: 767px) {
    .wadahSection {
        overflow: auto;
        max-height: 100% !important;
        margin-left: 0px;width: 100%;
    }
/*    Ag{display: block;width:100%;text-align:center;}*/
/*    As{display: block;width:100%;text-align:center;}*/
/*    At{display: block;width:100%;text-align:center;}*/
}