/*HEADER
============*/
header {
    background-color: #0F75BD;
    text-align: center;padding: 3px 0;
    background-image: url('../img/logo/loading.jpg');
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
header:hover{opacity: .8;transition: .3s all;}
/*MAIN*/
.ren-waktu{text-align: center;font-size: 7vh;color: #0F75BD;font-family: 'Sans4';margin-top: 30px;}
.ren-info{line-height: normal;color: #151515;text-align: center;font-size: 3.5vh;padding: 0 13%;font-family: 'Blogger1';margin: 20px 0px;}
.ren-info.danger{color: #e51c23;}

.num-border{width: 70vh;margin: auto;padding: 10px 20px;text-align: center;margin-top: 3vw;}
.num-border span{font-size: 7vh;letter-spacing: 10px;}
.num-border h1 {
    font-size: 10vh;margin: 0;padding: 0;letter-spacing: 10px;text-shadow: 0.5px -0.6vw #fff4;
    background: linear-gradient(
        60deg,
        hsl(150, 100%, 29%) 10%,
        hsl(150, 100%, 29%) 50%,
        hsl(207, 90%, 54%)  60%,
        hsl(150, 100%, 29%) 85%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 3s BeProud linear infinite,
    3s Always ease alternate infinite;
}

.ren-qr{width: 250px;margin:  auto;padding: 15px 15px;text-align: center;border-color: #a1a1a1;
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.075), 0 2px 10px rgba(161, 161, 161, .6);}

.QrKosong{
    width: 220px;padding: 10px 10px;text-align: center;
    background-color: aliceblue;
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.075), 0 2px 10px rgba(161, 161, 161, .6);
    position: absolute;bottom: 17.4rem;
}


/*ANIMATION
===========*/
.rainbow_border{
  border: 5px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 5s infinite alternate;
  animation: rainbow 5s infinite alternate;
}
@-webkit-keyframes rainbow {
  0% {border-color: hsl(150, 100%, 29%);}
  50% {border-color: hsl(255, 100%, 50%);}
  100% {border-color: hsl(150, 100%, 29%);}
}

.rainbow_border2{
    border-width: 5px;
    border-style: solid;
    border-color: #001f7f;
    animation: rainbox 5s infinite alternate;
}


.dashed-dance {
    background: linear-gradient(90deg, #004924 50%, transparent 50%),
                linear-gradient(90deg, #001f7f 50%, transparent 50%), 
                linear-gradient(0deg,  #bbb 50%, transparent 50%), 
                linear-gradient(0deg,  #bbb 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    animation: border-dance 5s infinite linear;
}
@keyframes border-dance {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
        border-color: #001f7f;
    }
    50%{
        border-color: #004924;
    }
    100% {
        background-position: 100% 0, 0% 100%, 0 0, 100% 100%;
        border-color: #001f7f;
    }
}

@keyframes BeProud {
    100% { background-position: 100vw 0px; }
}

@keyframes Always {
    100% { transform: scale(1.2);}
}

/*DEVELOPER*/
.devBtn{position: absolute;width: 100%;bottom: 1px;}