/*TITLE*/
.komando-title{text-transform: capitalize;text-align: center;font-size:18px;font-family: product_sans2;}
.tanggal-title{text-transform: capitalize;text-align: right;font-size:14px;font-family: product_sans2;margin-top: -10px;margin-right: 20px;}
.tgl-title{text-transform: uppercase;text-align: center;font-size:23px;font-family: product_sans2;padding-top: 0;padding-bottom: 40px;}
/*END TITLE*/

/*ONSTATUS*/
.onstatus-warna{width: 20px;height: 20px;border-radius: 15px;}
.onstatus-warna.hijau{background-color: rgb(66, 183, 42);}
.onstatus-warna.merah{background-color: #f44336;}
.onstatus-warna.blackbullet{background-color: #ffc107}

.onstatus-warna::after{font-size: 18px;font-weight: 400;text-transform: capitalize;
    position: absolute;left: 39px;top: -1px;font-family: product_sans2;}
.onstatus-warna.hijau::after{content: "Online";}
.onstatus-warna.merah::after{content: "Offline";}
.onstatus-warna.blackbullet::after{content: "Additional Information";}
/*END ONSTATUS*/
/***************** 8.Widget  ****************/
.widget-panel {
  padding: 15px 20px 15px 10px;
  border-radius: 1px;
  position: relative;
  margin-bottom: 20px;
    background: #fff;
/*  height: 120px;*/
    
  border-color: #a1a1a1;
  -webkit-box-shadow: inset 0px 0px 0px rgba(0,0,0,.075), 0 0 10px rgba(161, 161, 161, .6);
          box-shadow: inset 0px 0px 0px rgba(0,0,0,.075), 0 0 10px rgba(161, 161, 161, .6);
}
.cons-title{display: block;width: 100%;}
.cons-img {display: table-cell;}
.cons-img img{width: 25px;}
.cons-text {display: table-cell;vertical-align: middle;font-family: product_sans2;padding: 0 10px;}
@media only screen and (min-width: 1365px) {.cons-text {font-size:17px;}}
@media (min-width: 993px) and (max-width: 1364px) {.cons-text {font-size:13px;}}

.cons-daleman{display: block;width: 100%;}
.cons-daleman table{font-family: product_sans4;}
@media  screen and (min-width: 993px) {
    .cons-daleman table.profit-pad {margin: 40px 0px 29px 10px;}
    .cons-daleman table.transaksi-pad {margin: 20px 0px 37px 10px;}
    .cons-daleman table.kasih-jarak {margin: 20px 0px 10px 10px;}
}
.cons-daleman table td{padding: 5px;}
@media only screen and (min-width: 1365px) {.cons-daleman table {font-size:16px;font-weight: 600;}}
@media (min-width: 993px) and (max-width: 1364px) {.cons-daleman table {font-size:13px;font-weight: 600;}}

.input-group-addon.pilih{background-color: transparent;border: none;padding: 0px 30px;}
.input-group-addon.pilih select{height: 30px;min-width: 70px;border: 1px solid #B3B3B3;font-size: 13px;}

.widget-panel.charline {padding: 10px 15px;}

/*============
MAIN
==============*/
body {background-color: #fff;}

/*TABLE*/
table.gambarkecil td {font-size: 13px;font-family: product_sans2;color: #fff;padding: 3px;}
table.gambarkecil td img {width: 30px;height: 30px;border-radius: 20px;}

table.striped.gelap > tbody > tr:nth-child(even) {background-color: #F9B24B;}
table.striped.gelap > tbody > tr:nth-child(odd) {background-color: #F7A01F;}

/*PIECHART*/
.pie-chart {width: 260px;min-height: auto !important;padding: 0 !important;display: inline-block;text-align: right;}
.pie-chart svg {height: 200px !important;}
.apexcharts-canvas {height:auto!important;}
.descrip-pie {width: 50%;display: inline-block;vertical-align: top;}
table.descript-table td {font-size: 14px;font-family: product_sans2;padding: 5px;}
table.descript-table2 td {font-size: 14px;font-family: product_sans2;padding: 0px;}

/*INFORMASI*/
.balok {width: 12px;height: 12px;display: inline-block;vertical-align: baseline;margin-right: 5px;}
/*============
RESPONSIVE
==============*/
@media only screen and (min-width: 993px) {
  .container-material {width: 97% !important;}
    /*TABLE
    ================*/
  .bebas-padding {padding: 0px;}
  .pie-chart svg {margin-left:  50px;margin-top: -40px;}  
}