/* Atur Container */
html, body, #app, .appInti {margin: 0 auto;padding: 0 auto;}
#app{height: 0;}
/* Atur 3 Warna Utama */
.primarycolor {background-color: #0F75BD!important;}.text-primarycolor {color: #0F75BD!important;}
.primarycolor2 {background-color: #D5E7F3!important;}.text-primarycolor2 {color: #D5E7F3 !important;}
.primarycolor3 {background-color: #151515!important;}.text-primarycolor3 {color: #151515 !important;}
/* Atur Scrollbar */
::-webkit-scrollbar{width:7px;background:#eee;height: 8px;border: 1px solid #ddd;}
::-webkit-scrollbar-thumb{background-color:#575757;border-radius:0px;}
::-moz-scrollbar{width:8px;background:#FFF}
::-moz-scrollbar-thumb{background-color:#575757;border-radius:0px}
/* Atur DragColor */
::selection {background-color: #D5E7F3;color:#0F75BD;}
::-moz-selection {background-color: #D5E7F3;color:#0F75BD;}
::-webkit-selection {background-color: #D5E7F3;color:#0F75BD;}
/*Atur Cursor*/
html {cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), default !important;}
/* FONT FACE
=====================================================*/
@font-face {font-family: 'Sans1';src: url('../fonts/Product-Sans/Product-Sans-Bold-Italic_0.ttf');}
@font-face {font-family: 'Sans2';src: url('../fonts/Product-Sans/Product-Sans-Bold_0.ttf');}
@font-face {font-family: 'Sans3';src: url('../fonts/Product-Sans/Product-Sans-Italic_0.ttf');}
@font-face {font-family: 'Sans4';src: url('../fonts/Product-Sans/Product-Sans-Regular_0.ttf');}

@font-face {font-family: 'Blogger1';src: url('../fonts/blogger-sans/Blogger_Sans.otf');}
@font-face {font-family: 'Blogger2';src: url('../fonts/blogger-sans/Blogger_Sans-Light.otf');}
@font-face {font-family: 'Blogger3';src: url('../fonts/blogger-sans/Blogger_Sans-Medium.otf');}