<template><div class="appInti">
<div class="container">
        <h1>Your IP is {{ ip }}</h1>
        <h1>Your Status is {{ status }}</h1>
        <input type="text" v-model="input.firstname" placeholder="First Name" />
        <input type="text" v-model="input.lastname" placeholder="Last Name" />
        <button v-on:click="sendData()">Send</button>
        <br />
        <br />
        <div class="input-field col-sm-12">  
            <textarea id="textarea1" class="materialize-textarea" rows="5">
            {{ response }}
            </textarea>  
            <label for="textarea1">Textarea</label>  
        </div>  
        <li v-for="(member, key) in player">
           {{ key }} = {{member.nama}} - {{member.id}}
        </li>
        <div class="input-field col-sm-6">  
           <input placeholder="Placeholder" id="first_name" type="text" class="validate" v-model="fullXray">  
           <label for="first_name">First Name</label>  
        </div>  
</div><!--/.container-->
</div><!--/.appInti--></template>
<script>
    import axios from "axios";
    import VueResource from 'vue-resource';

    export default {
        name: 'apilist',
        data () {
            return {
                ip: "",
                status: "",
                input: {
                    firstname: "",
                    lastname: ""
                },
                response: "",
                player: "",
                xray: {
                    id: "",
                    pin: ""
                },
                status: "0",
            }
        },// Data //
        mounted() { 
//            this.$http.get("https://httpbin.org/ip")
            axios({ method: "GET", "url": "https://httpbin.org/ip"}).then(
                result => { this.ip = result.data.origin;},
                error => { console.error(error);},
            );
        setInterval(() => {
       
            axios({method: "GET",
                   timeout: 1000,
                   url : "http://att.aiwaapps.com/public/api/verifikasi/"+this.xray.id+"/show"}
                 ).then(
                result => { this.status = result.data.status;},
                error => { console.error(error);},
            )
        }, 1000);
            
            return axios({method: "GET", 
                       url: "http://att.aiwaapps.com/public/api/history", 
                       data: this.input, 
                       headers: { "content-type": "application/json"}
                      }).then(
                            result => {this.player = result.data.data;},
                            error => { console.error(error);}
                        );// Then //
           
            
            
            
        },// Mounted //
        methods: { 
            sendData() {
//                this.$http.post("https://httpbin.org/post", 
//                                this.input, 
//                                { headers: { "content-type": "application/json" } }
//                               )
                 return axios({method: "POST", 
                       url: "http://att.aiwaapps.com/public/api/generate", 
                       data: this.input, 
                       headers: { "content-type": "application/json"}
                      }).then(
                            result => {this.response = result.data;
                                       this.xray.id = result.data.id;
                                       this.xray.pin = result.data.pin;},
                            error => { console.error(error);}
                        );// Then //
            }// SendData //
        },//Methods //
        computed:{
            fullXray: function(){
               return "{'id': "+"'"+this.xray.id+"', "+"'pin': "+"'"+this.xray.pin+"'}";
            },
        },// computed //
   }
</script>