<style scoped lang="css" src="css@/c-home.css"></style>
<style>
/*
==================
SideNav Setting
==================*/
ul#slide-out{
    background-image: url(~img@/bg/resep.png);
    height: 100%;width: 100%;
    background-repeat: no-repeat;background-size: cover;/* background-position: center;*/
}
ul#slide-out li{width: 100%;}
/*--Background*/
ul#slide-out li .user-view{text-align: center;margin-top: 9vh;margin-bottom: 3vh;}
ul#slide-out li .user-view img{cursor: progress;}
/*--Konten*/
ul#slide-out li .waktu{text-align: center;font-size: 2.7rem;color: #D5E7F3;}
ul#slide-out li .tanggal{text-align: center;font-size: 1.4rem;font-weight: 300; color: #D5E7F3;}
ul#slide-out li .waktu span{cursor: no-drop;}
ul#slide-out li .pesanP {line-height: normal;color: #EEE;text-align: center;font-size: 2.7vh;padding: 0 13%;font-family: 'Sans4';}
ul#slide-out li .tombolP a.btn.checkin{margin: auto;width: 11.5rem;background-color: #EEE;color: #0F75BD;font-size: 1.8rem;text-transform: capitalize;font-family: 'Sans4';}a.btn.checkin:hover{background-color: #D5E7F3 !important;}
/*--Responsive*/
@media only screen and (min-width : 992px){
    ul#slide-out li .tombolP {margin-top: 4vh;}
    ul#slide-out li .pesanP {margin-top: 12vh;}
}
@media only screen and (min-width: 993px) and (max-width: 1199px){
    ul#slide-out{width: 350px !important;}
    
    ul#slide-out li .user-view{margin-bottom: 3vh;}
    ul#slide-out li .waktu{font-size: 2.3rem;}
    ul#slide-out li .tanggal{font-size: 1.3rem;}
    
    ul#slide-out li .tombolP {margin-top: 5vh;}
    ul#slide-out li .pesanP {margin-top: 5vh;font-size: 2.5vh;}
    ul#slide-out li .tombolP a.btn.checkin{width: 11rem;font-size: 1.7rem;text-transform: capitalize;font-family: 'Sans4';}
}
</style>
<template><div class="appInti">
<Sidenav/>
<header></header>
<main>
<div class="container-material">
    <div class="card maskot row">
        <a href="#!" data-activates="slide-out" class="btn blue button-collapse hidden-md hidden-lg">Open Slide</a>
            <div class="col-sm-12 col-md-4">
                <div class="gambarW1"><img src="~img@/icon/MaskotBI.png" alt="Birutekno.Inc" title="Welcome to Birutekno !!"></div><!--/.gambarW1-->
            </div><!--/.COL-->
            <div class="col-sm-12 col-md-8">
                <div class="sambutanW1">
                    <span class="selamatDatang animated fadeIn delay-1s">Selamat Datang di Kantor</span>
                    <br/>
                    <span class="birutekno animated fadeIn delay-2s">birutekno inc.</span>
                </div><!--/.sambutanW1-->
            </div><!--/.COL-->
    </div><!--/.card-->
    
   
        <div class="judulW1 animated infinite flash delay-3s">Baru saja melakukan check in</div> <myVar></myVar>
        <div class="wadahSection" v-if="player.length > 0">
            <section class="animated slideInLeft" v-for="data in player" v-if="data.action == 'masuk'">
                <Ag><img :src="data.foto"></Ag><!--gambar-->
<!--                <Ag><img src="~img@/account/zyan.jpg"></Ag>gambar-->
                <As><nick>{{data.nama}}</nick><job>{{data.divisi}}</job></As><!--status-->
                <At><ch>Check In</ch><tm>{{data.jam}}</tm></At><!--time-->
            </section>
        </div><!--/.End WadahSection-->
        <div class="wadahSection" v-else>
            <section><span class="loaddata">Memuat Data...</span></section>
        </div>
</div><!--/.container-->
</main>
<footer></footer>
</div><!--/#app--></template>
<script>
import Sidenav from 'component@/nav/Sidenav'
import axios from 'axios'
export default {
    name: 'home',
    data(){
    return{
        player: "",
        urlApi: "http://attendance.birutekno.com/public",
    }// return //
    }, // data /
    components: {Sidenav},
    mounted(){
        this.$nextTick(() => {
            // Kosong //
            if (status == '0'){
                     window.location.reload();   
            }
            $(".dropdown-button").dropdown();
            window.addEventListener('load', function() {
                
            });  // END //
        });
        this.$fadeOpening();
        // AXIOS //
//        setInterval(() => {
            return axios({
                method: "GET", 
                url: this.urlApi+"/api/history",
//                url: "http://att.aiwaapps.com/api/history",
                headers: { "content-type": "application/json"}
                }).then(
                    result => {this.player = result.data.data;},
                    error => { console.error(error);}
                );// Then //
//        }, 1000);
        // END AXIO //
    },
    methods:{
        $fadeOpening:function(){$('.appInti').hide();$('.appInti').fadeIn('slow');},
       
     },
}
</script>