<style scoped lang="css" src="css@/c-kode.css"></style>
<template><div class="appInti">
<header>
    <img src="~img@/logo/logo_battandance_kecil.png" title="Birutekno Inc. Rederm Code" alt="Birutekno">
</header>
<main>
<div class="container-material">
    <div class="ren-waktu">
        <waktu12/>
    </div><!--/.renwaktu-->
    <div class="ren-info">Silahkan Masukan Kode 2FA ke Hp Anda</div><!--/ren info-->
    <div class="num-border rainbow_border"><h1>8787</h1></div><!--/num border-->
</div><!--/.container-->

<div class="devBtn">
<router-link to="/scanQr" class="btn red col-sm-6">Back</router-link>
<router-link to="/home" class="btn blue col-sm-6">Done</router-link>
</div><!--/devbtn-->
</main>
<footer></footer>
</div><!--AppInti--></template>
<script>
import $ from 'jquery';
import waktu12 from 'component@/clock/waktu12jam'
export default {
name: 'masukanKode',
components: {waktu12},
mounted(){
    this.$nextTick(() => {
        window.addEventListener('load', function() {
            
        })// END //  
    });
    this.$fadeOpening();
},
methods:{
    $fadeOpening:function(){$('.appInti').hide();$('.appInti').fadeIn('slow');},
},
}
</script>