<style scoped lang="css" src="css@/c-kode.css"></style>
<template><div class="appInti">
<header>
    <img src="~img@/logo/logo_battandance_kecil.png" title="Birutekno Inc. Rederm Code" alt="Birutekno">
</header>
<main>
<div class="container-material">
    <div class="ren-waktu">
        <waktu12/>
    </div><!--/.renwaktu-->
<div v-if="status === '0'">
    <div class="ren-info">Silahkan Scan QR CODE dengan Hp Anda</div><!--/ren info-->
    <div class="ren-qr">
        <div id="qrcode"></div>
        <div class="QrKosong" v-if="xray.pin == '' ">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div><!--/.QrKosong-->
    </div><!--/.renqr-->
</div><!-- IF ELSE -->
<div v-if="status === '1' ">
    <div class="ren-info">Silahkan Masukan Kode 2FA ke Hp Anda</div><!--/ren info-->
    <div class="num-border rainbow_border2 dashed-dance "><h1>{{ pinCode }}</h1></div><!--/num border-->
</div><!-- IF ELSE -->
<div v-if="status === '2' ">
    <div class="ren-info">Loading...</div><!--/ren info-->
    <div class="num-border">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div><!--/num border-->
</div><!-- IF ELSE -->
<div v-if="status === '3' ">
    <div class="ren-info">Mohon Tunggu</div><!--/ren info-->
    <div class="num-border">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div><!--/num border-->
</div><!-- IF ELSE -->
    <div class="ren-info danger" >Sisa Waktu <span id="time">- - : - -</span> </div><!--/ren info-->
    <input id="text" type="hidden" v-model="fullXray" style="width:50%" />
</div><!--/.container-->

<!--DEVELOPER AREA -->
<!--
<div class="devBtn">
<router-link to="/home" class="btn red col-sm-6">Back</router-link>
<a class="btn blue col-sm-6" v-on:click="sChange(status)">Change <span class="i">(Status = ) </span></a>
</div>
-->
<!--END DEVELOPER AREA -->

</main>
<footer></footer>
</div><!--AppInti--></template>
<script>
import * as js from '../assets/js/qrcode.min.js'
import $ from 'jquery';
import waktu12 from 'component@/clock/waktu12jam'
import axios from 'axios'
export default {
name: 'scanQr',
components: {js, waktu12},
data(){
return{
    xray: { id: "", pin: "" },
    status: "0",
    wAktif: 60 * 0.70,
    urlApi: "http://attendance.birutekno.com/public",
//    xray: " 'id':'1','pin':'02276' ",
}// return //
}, // data //
mounted(){
    this.$nextTick(() => {
        window.addEventListener('load', function() {
            
        })// END //  
        // =========== COUNDOWN ============ //
        // 10S = 60 * 0.19 | 1M = 60 * 1.0  | 15S = 60 * 0.27 | 20S = 60 * 0.37| 40S =  60 * 0.70//
        var fiveMinutes = this.wAktif,
        Wstatus = this.status,
        display = document.querySelector('#time');
        startTimer(fiveMinutes, display, Wstatus);
        
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            
//            setInterval(function () {
                // Tidak di pakai //
//            }, 1000);
            
            if (--timer > 0 ){
                var myIntervalTImer = setInterval(mySetTimer, 1000); 
            };
            function mySetTimer() {
                if (--timer > 0) {
                    minutes = parseInt(timer / 60, 10)
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.textContent = minutes + ":" + seconds;
                }else if(--timer < 0) {
                    timer = 60 * 500.19;
                    var url = '/';
                    //var url = '/render';
                    //var url = 'http://resepsionis.att.aiwaapps.com';
                    clearInterval(myIntervalTImer);
                    window.location.href = url;
                    e.preventDefault()
                } // END IF //
            };
            
            
        };   
        // TIDAK DI PAKAI
            var count = 10; // dalam detik
            function countDown() {
                if (count > 0) {
                    count--;
                    var waktu = count + 1;
                    $('#pesan').html('Anda akan di redirect ke ' + url + ' dalam ' + waktu + ' detik.');
                    setTimeout("countDown()", 1000);
                } else {
                    window.location.href = url;
                }
            }
            countDown();
        // END TIDAK DI PAKAI //
        // =========== END COUNDOWN ============ //
    });
    this.$fadeOpening();
    this.$fadeQrCode();
    this.$QrCode();
    this.$sSukses();
    
    // AXIOS //
    setInterval(() => {
        axios({
            method: "GET",
            timeout: 1000,
            url : this.urlApi+"/api/verifikasi/"+this.xray.id+"/show"},
//            url : "http://att.aiwaapps.com/api/verifikasi/"+this.xray.id+"/show"},
            ).then(
                result => { this.status = result.data.status;},
                error => { console.error(error);},
            )// Then //
    }, 1500);
    return axios({
        method: "POST", 
        url: this.urlApi+"/api/generate",
//        url: "http://att.aiwaapps.com/api/generate",
        data: this.input, 
        headers: { "content-type": "application/json"}
        }).then(
            result => { this.response = result.data;
                        this.xray.id = result.data.id;
                        this.xray.pin = result.data.pin;},
            error => { console.error(error);}
        );// Then //
    // END AXIOS
},
methods:{
    $fadeOpening:function(){$('.appInti').hide();$('.appInti').fadeIn('fast');},
    $fadeQrCode:function(){$('.ren-qr').hide();$('.ren-qr').fadeIn(2000);},
    $QrCode:function(){
        var qrcode = new QRCode(document.getElementById("qrcode"), {
	       width : 220,
	       height : 220
        });

function makeCode () {		
	var elText = document.getElementById("text");
	
//	if (!elText.value) {
//		alert("Input a text");
//		elText.focus();
//		return;
//	}
	setInterval(() => {
        qrcode.makeCode(elText.value);
    }, 800);
	
}

makeCode();

$("#text").
	on("blur", function (e) {
		makeCode();
	}).
	on("keydown", function (e) {
        makeCode();
//		if (e.keyCode == 13) {
//			makeCode();
//		}
	});
    },// END QR CODE //
    sChange: function(status) {
        if(this.status == '0'){
            this.status = '1';
        }else if (this.status == '1'){
            this.status = '2';
        }else if (this.status == '2'){
            this.status = '0';
        }
    },
    $sSukses: function(){
        setInterval(() => {
            if (this.status == '2') {
                $('.ren-info.danger').hide();
        }}, 500); 
        
       setInterval(() => {
            if (this.status == '2') {
                this.status = '3';
                var url = '/';
                window.location.href = url;
    //            this.$router.push('');
        }}, 2000); 
    },
    
},// METHOD //
computed:{
    fullXray: function(){
        return "{'id': "+"'"+this.xray.id+"', "+"'pin': "+"'"+this.xray.pin+"'}";
    },
    pinCode: function(){
      return this.xray.pin;  
    },
},// computed //
}
</script>