<template>
    <div class="container">
        <span v-html="titleHtml"></span>
        <h1> {{ title }} </h1>
        <p>{{user.firtName}}</p>
        <p v-text="user.firtName"></p>
        
        <p v-if="showName" v-text="user.firtName"></p>
        <p v-else>Tidak ada</p>
        
        <button v-on:click="greet('Hello Cakep')">Sayt</button>
        <input type="text" v-on:keyup="pressKey" v-on:keyup.enter="enterHit" material-off>
        <hr/>
        
        <label>Nama Depan :</label><input type="text" v-model="user.firtName">
        <br/>
        <label>Nama Belakang :</label><input type="text" v-model="user.lastName">
        <h3>{{fullName}}</h3>
        <input type="text" v-model="fullName">
        <h2>{{msg}}</h2>
        <HelloWorld></HelloWorld>
    </div>
</template>

<script>
import HelloWorld from './Hello'
export default {
    name: 'test',
    props: {
        msg: {
            type: String,
            default: 'Footbar Props'
        }
    },
    components: {HelloWorld},
    data(){
        return{
            title: 'Hello Ganteng',
            titleHtml: '<h1>Hello Ganteng Html</h1>',
            user: {
                firtName: 'John',
                lastName: 'Doe',
            },
            showName: false,
        }
    },
    methods:{
        greet: function(kucing){
           alert (kucing + ' Hai sayang');
        },
        pressKey: function(e){
            console.log(e.target.value);
        },
        enterHit: function(e){
            console.log('You hit enter')
        }
    },
    computed: {
        fullName: function(){
            return this.user.firtName+' '+this.user.lastName;
        }
    }
}
</script>
<!-- Cara Import Scoped -->
<style scoped src="../assets/css/bootlize.css"></style>