<template>
<div class="container-material">
    <h1>Useres</h1>
    <form v-on:submit="addUser">
        <input type="text" v-model="newUser.name" placeholder="Enter Name"> <br/>
        <input type="text" v-model="newUser.email" placeholder="Enter Email"> <br/>
        <input type="submit" value="Selesai"> <br/>
    </form>
    <ul>
        <li v-for="user in users">
            <input type="checkbox" class="toggle" v-model="user.contacted">
            <span :class="{contacted: user.contacted}"> {{user.name}}: {{user.email}} </span>
            <button v-on:click="deleteUser(user)">X</button>
        </li>
    </ul>
    <HelloWorld></HelloWorld>
</div>
</template>

<script>
// Cara import js //
import * as js from '../assets/js/jquery-3.2.1.min.js';
import HelloWorld from './Hello'
export default {
    name: 'users',
    data(){
        return{
            newUser: {},
            users: []
        }
    },
    components: {js, HelloWorld},
    methods:{
        addUser: function(e){
           this.users.push({
               name: this.newUser.name,
               email: this.newUser.email,
               contacted: false
           })
           // Refresh page dinonaktifkan //
           e.preventDefault();
        },
        deleteUser: function(user){
            this.users.splice(this.users.indexOf(), 1);
        },
    },
    created: function(){
        this.$http.get('https://jsonplaceholder.typicode.com/users')
            .then(function(response){
                this.users = response.data;
//                this.users = JSON.parse(response.body);
        });
    }
}
</script>


<style scoped>
    .contacted{
        text-decoration: line-through;
    }
</style>
<!-- Cara Import Scoped -->
<style scoped src="../assets/css/bootlize.css"></style>