<template>
<span>{{dateOne}}</span>
</template>
<script>
import moment from 'moment'
export default{
    name: 'tanggal',
    data(){
        return{
            dateOne: moment().format("D MMMM YYYY"),
        }/*return*/
    },/*data*/
    components: {moment},
    mounted: function mounted() {
		var dateJalan = this;
		setInterval(function () {
			dateJalan.dateOne = moment().format("D MMMM YYYY");
		}, 2000);
        setInterval(function () {
			dateJalan.dateOne = moment().format("dddd");
		}, 4000);
	},/*mounted*/
}/*Export Default*/
</script>