<template>
<span>{{timeOne}}</span>
</template>
<script>
import moment from 'moment'
export default{
    name: 'waktu12jam',
    data(){
        return{
            timeOne: moment().format('LTS'),
        }/*return*/
    },/*data*/
    components: {moment},
    mounted: function mounted() {
		var waktuJalan = this;
		setInterval(function () {
			waktuJalan.timeOne = moment().format('LTS');
		}, 1000);
	},/*mounted*/
}/*Export Default*/
</script>