<template><div class="appInti">
<h1>{{timeOne}}</h1>
</div><!--appInti--></template>
<script>
import moment from 'moment';
export default {
name: 'users',
    data(){
        return{
            timeOne: moment().format('LTS'),
        }
    },
    components: {moment},
    mounted: function mounted() {
		var waktuJalan = this;
		setInterval(function () {
			waktuJalan.timeOne = moment().format('LTS');
		}, 1000);
	},
}
</script>