<template>
<!-- SLIDE NAVBAR
    =================-->
<ul id="slide-out" class="side-nav fixed">
    <li class="no-padding">
        <div class="user-view">
             <img class="responsive-img" src="~img@/logo/logo_battandance.png" title="Birutekno Absensi">
        </div><!--/.user view-->
    </li>
    <li class="no-padding">
        <div class="waktu">
            <waktu12/>
        </div><!--/.waktu-->
        <div class="tanggal">
            <tanggal/>
        </div><!--/.tanggal-->
        <div class="pesanP">
            <span>Silahkan Check In sebelum melakukan aktifitas pekerjaan</span>
        </div><!--/.pesanP-->
        <div class="tombolP">
            <router-link :to="{name:'scanQr'}" class="btn checkin waves-effect waves-green">Check In</router-link>
        </div><!--/.tombolP-->
    </li>
</ul>
<!-- END SLIDE NAVBAR
    =================-->
</template>
<script>
import waktu12 from 'component@/clock/waktu12jam'
import tanggal from 'component@/clock/tanggal'
export default {
    name: 'Logactivity',
    components: {waktu12, tanggal},
    mounted(){
        this.$nextTick(() => {
            
        });
        this.$tombolSidenav();
    },
    methods:{
        // Tombol SideNav //
        $tombolSidenav:function(){
 // Tombol SideNav //
$('.button-collapse').sideNav({
    menuWidth: 380, 
    edge: 'right', 
    closeOnClick: false,
    draggable: true, 
});
        },
     },
}
</script>